<div class="container align-top-form">


    <form autocomplete="off" (ngSubmit)="list()">
        <div class="card-body">

            <div class="col-md-12">

                <table class="table" #table>
                    <thead>
                        <tr>
                            <th scope="col"># ID</th>
                            <th scope="col">Funcionário</th>
                            <th scope="col">Bebe?</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let event of events">
                            <th scope="row">{{event.id}}</th>
                            <td>{{event.employee_name}}</td>
                            <td>{{event.employee_drink}}</td>
                            <td>{{event.employee_rate | currency:'BRL':true:'1.2-2'}}</td>
                            <td>
                                <button type="button" (click)="find(event.id)" class="btn btn-primary" data-toggle="modal" data-target="#eventModal" title="Visualizar">
                                    <i class="fa fa-search"></i>
                                  </button>
                                <button type="button" (click)="deleteParticipation(event.id)" class="btn btn-danger" title="Excluir" style="margin-left: 5px;">
                                    <i class="fa fa-trash"></i>
                                  </button>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <h6>Arrecadação:</h6>
                        <ul>
                            <li><b>Funconário: </b>{{collection.employee_total}}</li>
                            <li><b>Convidado: </b>{{collection.guest_total}}</li>
                            <li><b>Total: </b>{{collection.grand_total}}</li>
                        </ul>
                    </tfoot>

                </table>

            </div>

        </div>

    </form>

</div>




<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">{{eventObject.employee_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">

                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">Funcionário</li>
                    <li class="list-group-item"><b>Nome:</b> {{eventObject.employee_name}}</li>
                    <li class="list-group-item"><b>Bebe?</b> {{eventObject.employee_drink}}</li>
                    <li class="list-group-item"><b>Valor:</b> {{eventObject.employee_rate | currency:'BRL':true:'1.2-2'}}</li>
                </ul>

                <br>

                <ul class="list-group" *ngIf="eventObject.has_guest == true">
                    <li class="list-group-item active" aria-current="true">Convidado</li>
                    <li class="list-group-item"><b>Nome:</b> {{eventObject.guest_name}}</li>
                    <li class="list-group-item"><b>Bebe?</b> {{eventObject.guest_drink}}</li>
                    <li class="list-group-item"><b>Valor:</b> {{eventObject.guest_rate | currency:'BRL':true:'1.2-2'}}</li>
                    <li class="list-group-item">
                        <button type="button" class="btn btn-danger" (click)="deleteGuest(eventObject.id_guest)" title="Excluir Convidado">
                            <i class="fa fa-trash"></i> Excluir Convidado
                        </button>
                    </li>
                </ul>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!-- Modal -->