<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand" href="#">
        <img src="../../../assets/img/avatar.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> Usuário
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/dashboard']">Dashboard <span class="sr-only">(current)</span></a>
            </li>

            <!-- nav-item -->
            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Funcionários
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/employees/create']" [routerLinkActive]="['active']">Cadastrar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/employees']" [routerLinkActive]="['active']">Consultar</a>
                </div>
            </li>
            <!-- nav-item -->

            <!-- nav-item -->
            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Evento
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/events/create']">Cadastrar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/events']">Consultar</a>
                </div>
            </li>
            <!-- nav-item -->

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sair</button>
        </form>

    </div>
</nav>